body {
    background-color: #323232;
    line-height: 28px;
    font-size: 18px;
}

.intro {
    margin-top: 30px;
}

.content {
    background-color: white;
    margin: 0 auto;
    max-width: 1000px;
    padding-left: 30px;
}

.main-content {
    margin-right: 1em;
    padding: 0px 12px;
}

.row-fluid .sidebar {
    position: relative;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 40px;
    float: right;
}

.socials {
    margin-right: 12px;
}

.nav a.social-networks {
    padding: 0;
}

.metadata {
    font-size: 15px;
    margin-top: 20px;
    padding: 5px 0px;
    color: #666666;
}

article {
    padding-right: 60px;
}

.recently {
    padding: 3px 5px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

@mixin link-base {
  a {
    &:link, &:visited {
      color: #333333;
      text-decoration: none;
    }
  }
}

h3 {
  @include link-base;
}

aside {
  @include link-base;
  p {
    font-size: 16px;
    line-height: 22px;
  }

  margin-bottom: 60px;
  padding: 10px 25px;
  background-color: #f2f2f2;
}

