body {
    background-color: #425066;
    line-height: 28px;
    font-size: 16px;
}

header {
    margin-top: 30px;
    a:link, a:visited {
        color: #000;
        text-decoration: none;
    }
}

.content {
    background-color: white;
    margin: 32px auto 32px auto;
    max-width: 1000px;
    padding-left: 30px;
}

.main-content {
    margin-bottom: 4em;
    padding: 0 1em 0 0.5em;

    p {
        margin: 1.5em 0;
    }

    a.pull-right {
        float: right;
        margin-right: 3.5em;
    }
}

.row-fluid .sidebar {
    position: relative;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 40px;
    float: right;
}

.socials {
    margin-right: 12px;
}

.nav a.social-networks {
    padding: 0;
}

.metadata {
    margin-top: 40px;
    font-size: 15px;
    color: #666666;

    p {
        margin: 0;
    }

    span {
        display:inline-block;
        vertical-align:middle;
    }
}

.continue-reading {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

article {
    padding-right: 60px;

    h3 {
        margin-bottom: 30px;
    }
}

.recently {
    padding: 3px 5px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

@mixin link-base {
  a {
    &:link, &:visited {
      color: #333333;
      text-decoration: none;
    }
  }
}

h3 {
  @include link-base;
}

h4 {
    margin-top: 2em;
    margin-bottom: 1em;
}

aside {
  @include link-base;
  p {
    font-size: 16px;
    line-height: 22px;
  }

  h4 {
      font-weight: normal;
      color: #fff;
      background-color: #5383c3;
      margin: 0px;
      padding: 6px;
      letter-spacing: 1px;
  }

  hr {
    margin: 10px 0;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
  }

  .recently-articles { padding: 8px; }
  img { margin: 20px }

  margin-bottom: 60px;
  background-color: #EBF0F5;
}

ul.tags {
  margin: 0;
  padding: 5px 8px;
  list-style: none;

  li {
     display: inline-block;
     margin: 4px 1px;
     padding: 1px 6px;
     line-height: 24px;
     font-size: 15px;
     background-color: #47885e;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

     a:link, a:visited {
       color: #fff;
     }
  }
}

code { font-size: 14px; }
pre[class*="language-"] {
    font-size: 16px;
    border: 0;
    code { font-size: 16px; }
}

#disqus_thread { margin-top: 1.2em; }
