<nav>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">文章</a>
    </li>
    <li>
      <a href="#">相簿</a>
    </li>
    <li class="pull-right">
      <div class="socials">
        <a href="#" class="social-networks"><img src="/images/24x24-facebook.png" title="facebook"></a>
        <a href="#" class="social-networks"><img src="/images/24x24-gplus.png" title="google+"></a>
        <a href="#" class="social-networks"><img src="/images/24x24-linkedin.png" title="linkedin"></a>
        <a href="#" class="social-networks"><img src="/images/github.png" title="github"></a>
      </div>
    </li>
  </ul>
</nav>
