<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">文章</a>
  </li>
  <li>
    <a href="#">相簿</a>
  </li>
  <li class="pull-right">
    <a href="#" class="social-networks"><img src="/images/24x24-facebook.png"></a>
  </li>
  <li class="pull-right">
    <a href="#" class="social-networks"><img src="/images/24x24-gplus.png"></a>
  </li>
  <li class="pull-right">
    <a href="#" class="social-networks"><img src="/images/24x24-linkedin.png"></a>
  </li>
  <li class="pull-right">
    <a href="#" class="social-networks"><img src="/images/24x24-twitter.png"></a>
  </li>
</ul>

